@model ShoppingCartViewModel
<h4>Ваша корзина</h4>

@*@if (Model.ShoppingCart.CartItems.Count() > 0)
{
    @foreach (var item in Model.ShoppingCart.CartItems)
    {
        <span>@item.Product.Title</span>
        <span>@item.Quantity</span>
    }
}
else
{
    <p>корзина пуста</p>
}*@

<table id="cartTable" class="table">
    <thead>
        <tr>
            <th>Кол-во</th>
            <th>Игра</th>
            <th class="text-right">Цена</th>
            <th class="text-right">Общая цена</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ShoppingCart.CartItems)
        {
            <tr>
                <td class="text-center">@item.Quantity</td>
                <td class="text-left">@item.Product.Title</td>
                <td class="text-right">@item.Product.Price.ToString("# руб")</td>
                <td class="text-right">
                    @((item.Quantity * item.Product.Price).ToString("# руб"))</td>
                <td>
                    @using (Html.BeginForm("RemoveFromCart", "ShoppingCart"))
                    {
                        @Html.Hidden("id", item.Product.Id)
                        @Html.HiddenFor(x => x.ReturnUrl)
                        <button asp-controller="ShoppingCart" asp-action="RemoveFromCart" class="btn btn-sm btn-warning" type="submit">Удалить</button>
                    }
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="align-content-end">Общая сумма:</td>
            <td class="align-content-end">
                @Model.ShoppingCart.GetTotalPrice().ToString("# руб")
            </td>
        </tr>
    </tfoot>
</table>

<div class="align-content-center my-1">
    @using(Html.BeginForm("ClearCart", "ShoppingCart"))
    {
        <button asp-controller="ShoppingCart" asp-action="ClearCart" class="btn btn-warning" type="submit">Очистить корзину</button>
    }
    
</div>
<div class="align-content-center my-1">
    <a class="btn btn-primary" asp-controller="Catalog" asp-action="Index">Продолжить покупки</a>
</div>







