@model IndexViewModel

 <h2>Каталог товаров</h2>
 
<div class="row row-cols-1 row-cols-md-3 g-4 my-5">
    @foreach (var product in Model.Products)
        {
            <div class="col">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@product.Title</h5>
                        <p class="card-text">@product.Subtitle</p>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a class="btn btn-primary" asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-Id="@product.Id">Добавить в корзину</a>
                        }
                        else
                        {
                            <a class="btn btn-primary" asp-controller="Account" asp-action="Login">Добавить в корзину</a>
                        }
                        <a class="btn btn-primary my-1">Подробнее</a>
                    </div>
                </div>
            </div>
        }       
</div>

@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       class="btn btn-outline-dark">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}

@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       class="btn btn-outline-dark">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}


